.woocommerce-additional-fields{
    display: none;
}

.container-form-pedido{
    width: 90%;
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
}

.container-form-pedido h3 {
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 1rem;
}
/* parte do formulario =============*/
.container-form-pedido .formulario{
    text-align: left;
    padding: 0.5rem;
    width: 40%;
}

.container-form-pedido .formulario input, .container-form-pedido .formulario .selection::after {
    border: 0!important;
    border-bottom: 1px solid #6A066D!important;
    background:#E7FAFE!important;
}



/* parte de revisao de pedido ==========*/
.container-form-pedido .pedido{
    width: 40%;
    /* background-color:blue; */
    padding: 0.5rem;
}

.container-form-pedido hr{
    border-top: 2px solid black;
}
.linha-produto-checkout{
    background: #FAFAFA;
    margin: 0.5rem 0;
}

.shop_table {
    border: none!important;
    width: 100%!important;
}

.shop_table .product-name{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.shop_table .product-name .infos-produto-pedido{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.shop_table .product-name .quantidade-preco-produto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}