/* ====== Sessão produtos ====== */
.section-produtos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    padding: 2rem;
}

.section-produtos .prato-lp{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.container-infos-lp{
    background: linear-gradient(92.1deg, #6A066D 0%, rgba(126, 52, 129, 0.86279) 57.81%, rgba(142, 87, 143, 0.757243) 71.87%, rgba(119, 64, 121, 0.661458) 99.99%, rgba(196, 196, 196, 0) 100%);
    width: 100%;
    text-align: left;
    padding: 0.5rem;
}

.container-infos-lp p{
    color: snow;
    font-size: 20px;
}

.container-infos-lp a{
    float: right;
    padding: 0.2rem;
    background: #F5C661;
}

.container-infos-lp a img{
    width:30px;
    height: 30px;
}

/* ====== Fim sessão produtos ====== */