.header {
    padding: 0.6rem;
    background: #7A247D;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 10vh;
    /* width: 100vw; */
}

.header .container-img {
    width: 70px;
    margin: 0 auto;
}

.header .container-img img {
    width: 100%;
}

.header form .lupa{
    /* padding: 1rem 1rem 0 0; */
    border-bottom: 2px solid #F5C661;
    margin: 0;
    /* height: 30px;
    width: 30px; */
    /* align-content: flex-end; */
}

.header form input[type='search'] {
    width: 60%;
    font-size: 16px;
    margin: 0 0;
    border: 0;
    border-bottom: 2px solid #F5C661;
    background: #7A247D;
    outline: none;
    color: #F5C661;
    line-height: normal;
    /* height: 50%; */
    padding-left: 1rem;
    /* position: relative; */
    /* top: -5px; */
}

.header form{
    width: 50%;
    height: 30px;
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
}


/*=================================================================*/

.header .buttons-header{
    width: 18%;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header .buttons-header a > img {
    height: 100%;
    max-height: 40px;
    margin: 0 0.5rem;
    justify-self: flex-start;
    cursor: pointer;
}

.header .buttons-header button {
    background:#F5C661;
    padding: 0.1rem 0.5rem;
    border: 2px solid black;
    font-size: 16px;
    font-weight: bold;
}

.header .buttons-header button a{
    color: black;
    font-size: 16px;
    font-weight: bold;
}

.header .buttons-header button a:visited{
    color: black;
}

/* Carrinho ===================================================*/

.container-carrinho{
    background: black;
    opacity: 0.5;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 20;
}

.aparece-carrinho {
    padding: 1.2rem;
    background: #F5C661;
    width: 30%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 70%;
    z-index: 25;
    opacity: 1;
    overflow-y: scroll;
}
.aparece-carrinho span#titulo-carrinho {
    font-size: 40px;
    color: #7A247D;
}

.aparece-carrinho span#fechar{
    position: relative;
    left: 50%;
    font-size: 15px;
    top: -3%;
    cursor: pointer;
}

.aparece-carrinho span#fechar:hover{
    color: #7A247D;
    font-size: 20px;
}

.aparece-carrinho hr {
    border: 1px solid #7A247D;
    margin: 1rem auto;
}

.aparece-carrinho button {
    font-size: 18px;
    padding: 0.3rem 1rem;
    background: #7A247D;
    margin: 1rem auto;
    color: snow;
    border: none;
}

.aparece-carrinho button a {
    color: snow;
}

.aparece-carrinho button a:visited{
    color: snow;
}
.hidden {
    display: none;
}


.produto-carrinho{
    display: flex;
    flex-direction: row;
    background: #D7F6FD;
    margin: 1rem 0;
}

.produto-carrinho .product-price-carrinho{
    font-size: 16px;
    align-self: flex-end;
    padding-bottom: 0.5rem;

}

.produto-carrinho img{
    width:150px;
    height: 150px;
}

.container-button-quantity {
    display:flex;
    flex-direction: row;
    /* justify-content: center; */
    width: 100px;
}
.infos-produto-carrinho{
    padding: 0.5rem 0 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.infos-produto-carrinho p {
    font-size: 20px;
    font-weight: normal;

}

.container-button-quantity button{
    width: 20px;
    height: 20px;
    background:#D7F6FD;
    border: 1px solid black;
    color: black;
    margin: 0;
    padding: 0;
}

.container-button-quantity button:hover{
    width: 30px;
}

.container-button-quantity input{
    width:40px;
    height: 20px;
    border: 1px solid black;
    outline: 0;
    text-align: center;
}