.section-1-lp{
    text-align: center;
    padding: 1rem;
}
.section-1-lp .categorias{
    width: 90%;
    margin: 0 auto;
    margin-top: 1rem;
    
}
.section-1-lp .categorias-lp .menu-categorias-lp{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}


.menu-categorias-lp .img-categoria-lp{
    width: 240px;
    height: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.menu-categorias-lp .img-categoria-lp:hover{
    border: 5px solid #C839CD;
}

.menu-categorias-lp .container-link-lp{
    background: linear-gradient(92.1deg, #6A066D 0%, rgba(126, 52, 129, 0.86279) 57.81%, rgba(142, 87, 143, 0.757243) 71.87%, rgba(119, 64, 121, 0.661458) 99.99%, rgba(196, 196, 196, 0) 100%);
    width: 100%;
    text-align: left;
    padding: 0.5rem;
}

.container-link-lp a{
    color: snow;
    font-size: 20px;
}

.container-link-lp a:visited{
    color: snow;
}
.container-link-lp a:hover{
    color: #F5C661;
}

