.site-main .woocommerce-result-count {
    display: none;
}

ul.products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 20px; 
    padding: 2rem!important;
}

ul.products::before{
    display: none!important;
}

ul.products li.product{
    width: 270px!important;
    height: 400px!important;
}

ul.products li.product .woocommerce-loop-product__link .woocommerce-loop-product__title, ul.products li.product .woocommerce-loop-product__link .price{
    background: linear-gradient(92.1deg, #6A066D 0%, rgba(126, 52, 129, 0.86279) 57.81%, rgba(142, 87, 143, 0.757243) 71.87%, rgba(119, 64, 121, 0.661458) 99.99%, rgba(196, 196, 196, 0) 100%);
    position: relative!important;
    top: -18%!important;
    padding:0.15rem 0.5rem!important;
    color: snow!important;
    font-size: 20px!important;
    font-weight: normal!important;
}
ul.products li.product a.button{
    display: none;
}