nav.menu-account {
    background: #F5C661;
    width: 100%;
    padding: 1rem 0;    
}

nav.menu-account ul#menu-menu-account{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    list-style-type: none;
}

nav.menu-account ul#menu-menu-account li a{
    color: black;
    font-size: 20px;
    text-transform: uppercase;
}

nav.menu-account ul#menu-menu-account li a:visited{
    color: black;
}

/* .container-account-content p, .container-account-content p strong, .container-account-content p a{
    font-size: 20px;
    color: black;
    font-weight: normal;
    margin: 1rem 0;
}

.container-account-content p a:visited{
    color: black;
}*/

.woocommerce-account div.woocommerce-MyAccount-content{
    width: 80%;
    margin: 0 auto;
    float: none;
}

.woocommerce-account div.woocommerce-MyAccount-content p, .woocommerce-account div.woocommerce-MyAccount-content p strong, div.woocommerce-MyAccount-content p a{
    font-size: 20px;
    text-align: justify;
    color: black;
    font-weight: normal;
    margin: 1rem 0;
}

div.woocommerce-MyAccount-content p a:visited{
    color: black;
}

form#edit-account{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem auto 3rem auto;
}

form#edit-account .form-linha-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

form#edit-account .form-linha-1 .form-nomes{
    display: flex;
    flex-direction: column;
    width: 45%;
} 

form#edit-account .form-linha-1 .form-nomes label{
    font-size: 20px;
    margin: 1rem 0;
}

form#edit-account .form-linha-1 .form-nomes input{
    border: 0;
    border-bottom: 2px solid #6A066D;
    background: #E7FAFE;
    outline: 0;
}

form#edit-account .form-linha-2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

form#edit-account .form-linha-2 label{
    font-size: 20px;
    margin: 1rem 0;
}

form#edit-account .form-linha-2 input{
    border: 0;
    border-bottom: 2px solid #6A066D;
    background: #E7FAFE;
    outline: 0;
}

form#edit-account .form-submit{
    margin: 0 auto;
    margin-top: 2rem;
}

form#edit-account .form-submit button{
    background: #6A066D;
    color: snow;
    font-weight: normal;
    padding: 0.5rem 1.2rem;
}


