.woocommerce-MyAccount-navigation{
    display: none;
}

/* .customize-support h1{
    display: none;
} */
.biscoto{
    color: #6A066D !important;
    background:#E7FAFE  !important;
    border: 3px solid #6A066D !important;
    box-sizing: border-box !important;
    /* font-size: 100%; */
    margin: 0;
    /* / line-height: 1; / */
    cursor: pointer;
    position: relative;
    text-decoration: none;
    overflow: visible;
    padding: .618em 1em;
    font-weight: 700;
    border-radius: 3px;
    /* left: auto; */
    font-size: 20px;
    /* color: #515151;
    background-color: #ebe9eb;*/
   display: inline-block;
}
.-order-actions{
    display: none;
}
.td{
    border:0;
}

.tabela{
    border: 0;
    margin:1rem 0 1rem 1rem;
    text-align: left;
    width: 100%;
}

.tabela thead{
    font-size:25px;
    font-weight: 700;
}
