/* .additional_information_tab, .description_tab, .product_meta{
    display: none!important;
}

woocommerce-Tabs-panel--description 

.woocommerce-product-gallery {
    width: 400px!important;
    height: 250px!important;
    margin-left: 2rem;
} */

.relacionados-container{
    width: 90%;
    float: none!important;
    margin: 2rem auto 0 auto;
    text-align: center;
}

.relacionados-container > h2{
    float: none!important;
    text-align: center;
    font-weight: normal;
    /* position: relative!important;
    left: 20vw; */
}

.products-page-infos{
    width: 90%;
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
}

.p-container-title-price{
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    text-align: justify;
}
.p-container-title-price p.product-title{
    font-size: 20px;
}
.p-container-title-price p.product-description{
    width: 100%;
    text-align: justify;
    font-size: 18px!important;
    margin-top: 2rem!important;
}