.section-1-home {
    background: #7A247D;
    padding: 3rem;
}

.section-1-home h1 {
    text-align: center;
    color: #F5C661;
    font-size: 48px;
    text-shadow: 1px 1px black;
    margin-bottom: 2rem;
}

.section-1-home h2 {
    text-align: center;
    color: snow;
    font-size: 25px;
    font-weight: normal;
}

.section-2-home{
    text-align: center;
}
.section-2-home .categorias{
    width: 90%;
    margin: 0 auto;
    margin-top: 1rem;

}
.section-2-home .categorias .menu-categorias{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}


.menu-categorias .img-categoria{
    width: 240px;
    height: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.menu-categorias .img-categoria:hover{
    border: 2px solid #C839CD;
    position: relative;
    top: -15px;
}

.menu-categorias .container-link{
    background: linear-gradient(92.1deg, #6A066D 0%, rgba(126, 52, 129, 0.86279) 57.81%, rgba(142, 87, 143, 0.757243) 71.87%, rgba(119, 64, 121, 0.661458) 99.99%, rgba(196, 196, 196, 0) 100%);
    width: 100%;
    text-align: left;
    padding: 0.5rem;
}

.container-link a{
    color: snow;
    font-size: 20px;
}

.container-link a:visited{
    color: snow;
}
.container-link a:hover{
    color: #F5C661;
}



.section-2-home button a:visited{
    color: black;
}

.section-2-home button a:hover{
    color: #C839CD;
}

.section-2-home h1 {
    margin: 2rem auto;
    font-weight: normal;
}

.section-2-home .categorias h3{
    text-align: left;
    margin: 2rem auto;
    font-weight: normal;
}

.section-2-home button {
    background: #F5C661;
    font-size: 16px;
    padding: 0.5rem 1rem;
    font-weight: bold;
    margin: 3rem auto 3.5rem auto;
    border: none;
}

.section-2-home .pratos-dia h3, .section-2-home .pratos-dia p{
    text-align: left;
    font-weight: normal;
    margin: 0.5rem auto;
}

.section-2-home .pratos-dia h3{
    margin-top: 2rem;
}

.section-2-home .pratos-dia{
    width: 90%;
    margin: 0 auto;
    margin-top: 1rem;
}

.pratos{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 1rem 0;
    margin: 0 auto;
}

.pratos .prato-atual{
    width: 240px;
    height: 300px;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.pratos .prato-atual:hover{
    border: 2px solid #C839CD;
    position: relative;
    top: -15px;
}

.prato-atual .container-infos {
    padding: 0.6rem;
    height: 40%;
    background: linear-gradient(92.1deg, #6A066D 0%, rgba(126, 52, 129, 0.86279) 57.81%, rgba(142, 87, 143, 0.757243) 71.87%, rgba(119, 64, 121, 0.661458) 99.99%, rgba(196, 196, 196, 0) 100%);
}

.prato-atual .container-infos p{
    font-size: 20px;
    color: snow;
}

.container-infos a img{
    width: 35px;
    height: 35px;
    padding: 0.2rem;
    float: right;
    background: #F5C661;
    border: 0.8px solid black;
}

.container-infos a img:hover{
    background: snow;
}


/*==================================================================*/


.section-3-home {
    background: #7A247D;
    padding: 3rem;
}

.section-3-home h2{
    text-align: center;
    border-bottom: 2rem;
    font-weight: normal;
    color: snow;
    font-size: 35px;
}

.container-mapa-slider {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding: 1.5rem;
}

.container-mapa-slider p{
    font-size: 15px;
    color: snow;
    margin-top: 0.5rem;
}
.container-mapa-slider .mapa p img {
    width: 20px;
    height: 20px;
    margin-top: 0.5rem;
}

.container-mapa-slider .mapa {
    width: 50%;
    padding: 1rem;
}

.container-mapa-slider .slider{
    width: 50%;
}

.container-mapa-slider .slider img {
    width: 100%;
    padding: 1rems;
    height: auto;
}


